<!-- views/report.ejs -->
<%- include('../layout') %>

<h1>Generate Report</h1>

<form action="/reports/getreport" method="POST">
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" name="startDate" required>

  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" name="endDate" required>

  <button class="btn btn-primary " type="submit">Generate Report</button>
</form>

<!-- Display the revenue and expenses here -->

<%- include('../partials/footer') %>
