<!-- views/partials/footer.ejs -->

</div>
</div>
</div>

<!-- Footer -->
<footer class="mt-4 py-3 bg-light">
  <div class="container text-center">
    <p>&copy; <%= new Date().getFullYear() %> WonderLand. All rights reserved.</p>
  </div>
</footer>

<!-- With this CDN link -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Include Bootstrap JS locally
<script src="/bootstrap.min.js"></script> -->
</body>
</html>
