<!-- views/index.ejs -->

<%- include('layout') %>

<!-- Your main content goes here -->
<h1>Welcome to WonderLand</h1>

<div class="container-with-text">
    <div class="red-container">
      <!-- Content for the small container goes here -->
    </div>
    <p class="inline-text">Red Color means the child is no longer active member.</p>
</div>
<div class="container-with-text">
  <div class="green-container">
    <!-- Content for the small container goes here -->
  </div>
  <p class="inline-text"> Light greanish Color means the child payment passes call their parents.</p>
</div>
<div class="container-with-text">
  <div class="yellow-container">
    <!-- Content for the small container goes here -->
  </div>
  <p class="inline-text">Yellowish Color means the child left 0-5 and 0-2 days for next payment for monthly and weekly subscribers respectively, so send a reminder message.</p>
</div>
  

<%- include('partials/footer') %>
