<!-- views/layout.ejs -->
<%- include('partials/header') %>
<!DOCTYPE html>
<html>
<head>
  
  <!-- Add your head content here -->
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar (30% of width) -->
      <div class="col-md-3">
        <div class="sidebar-container bg-light p-3 shadow">
          <h2>Sidebar</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/children/dashboard">Children</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/additions/dashboard">Additions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/payments/dashboard">Payments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/payments/payment-due">Payment Due</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/foods/dashboard">Food</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services/dashboard">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscriptions/dashboard">Subscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/expenses/dashboard">Expense</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/dashboard">Report</a>
            </li>
            
            
            <!-- Add more links here for other sections -->
          </ul>
        </div>
      </div>



      <!-- Body (70% of width) -->
      <div class="col-md-9">
      
  <!-- Your script imports and other footers -->
</body>
</html>
